/* theme set 1 */
{{#set1}}
body.mediawiki.{{bodyClass}} .bs-custom-menu-container { background-color: {{{bg1}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li a { color: {{{fg1}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li:hover > a { background-color: {{{bg2}}}; color: {{{fg2}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li.open > a { background-color: {{{bg2}}}; color: {{{fg2}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li .dropdown-menu { background-color: {{{bg1}}}; color: {{{fg1}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li .dropdown-menu::before { color: {{{bg1}}} !important; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li .dropdown-menu a { color: {{{fg1}}}; }
body.mediawiki.{{bodyClass}} .bs-custom-menu-header-container .bs-custom-menu.header > li .dropdown-menu a:hover { background-color: {{{bg2}}}; }
{{/set1}}

