<div class="container">

	<div class="toolbar">
		<div class="skeleton"></div>
		<div class="skeleton"></div>
		<div class="skeleton"></div>
	</div>

	<div class="header-toggle">
		<div class="skeleton title-skeleton"></div>
		<div class="skeleton toggle-skeleton"></div>
	</div>

	<div class="dropzone-section">
		<div class="dropzone-card">
			<div class="skeleton dropzone-title"></div>
			<div class="skeleton dropzone"></div>
		</div>
		<div class="dropzone-card" style="width:20%;">
			<div class="skeleton dropzone-title"></div>
			<div class="skeleton dropzone"></div>
		</div>
	</div>

	<div class="section-toggle">
		<div class="skeleton section-title"></div>
		<div class="skeleton toggle-skeleton"></div>
	</div>

	<div class="section-toggle">
		<div class="skeleton section-title"></div>
		<div class="skeleton toggle-skeleton"></div>
	</div>

	<div class="section-toggle">
		<div class="skeleton section-title"></div>
		<div class="skeleton toggle-skeleton"></div>
	</div>

</div>
